<!DOCTYPE html>
<html lang="cs" dir="ltr"
    prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">

<head>
    {{ partial "head" . }}
</head>

<body class='{{ .Page.Type }} no-sidebars'>
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Přejít k hlavnímu obsahu</a>
    </div>

    {{ partial "header" . }}

    <div class="main-container container">
        {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer" . }}

    <script>
        (function ($) {
            $(document).ready(function () {
                $("#sticky-navigation").sticky({ topSpacing: 0 });
            });
        })(jQuery);
    </script>

    <script src=""></script>
    <script src='{{ (resources.Get "/js/bootstrap.min.js").RelPermalink  }}'></script>
</body>

</html>
