{{ define "page-type" }}front{{ end }}

{{ define "main" }}

<div class="row">
    <section class="col-sm-12">
        <div class="region region-top-content">
            <section id="o-nas" class="block block-nodeblock clearfix">

                {{ partial "bubble-title" (index $.Site.Data.texts "about-us").title }}

                <div id="node-32" class="node node-text-piece clearfix" about="/node/32"
                    typeof="sioc:Item foaf:Document">

                    <span property="dc:title" content="o nás" class="rdf-meta element-hidden"></span>

                    <div class="content">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even" property="content:encoded">
                                    <p>{{ (index .Site.Data.texts "about-us").text | safeHTML }}</p>
                                    <div>                                        
                                        <a href="{{ .Site.Params.facebookUrl }}">
                                            {{ $image := resources.Get "images/logo-facebook.png" }}
                                            {{ $resized := $image.Fit "64x64" }}
                                            <img src="{{ $resized.RelPermalink }}" alt="Facebook">
                                        </a>
                                        <a href="{{ .Site.Params.instagramUrl }}">
                                            {{ $image := resources.Get "images/logo-instagram.webp" }}
                                            {{ $resized := $image.Fit "64x64" }}
                                            <img src="{{ $resized.RelPermalink }}" alt="Instagram">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
 
        <nav id="sticky-navigation" role="nav navbar-nav">
            <div class="region region-middle-nav">
                <section id="block-menu-menu-pizza-menu" class="block block-menu clearfix">

                    <ul class="menu nav">
                        <li class="leaf"><a href="{{ $.Site.BaseURL }}#cantina-menu" title="">CantinaMenu!</a></li>
                        {{ $categories := $.Site.Data.sortiment.categories }}
                        {{ range $idx, $category := $categories }}
                        {{ if $category.enabled }}
                        <li class="leaf"><a href="{{ $.Site.BaseURL }}#{{ $category.section }}" title="">{{ $category.menuName }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </section>
            </div>
        </nav> 

        <a id="cantina-menu"></a>
        <div class="region region-cantina-menu">

            {{ partial "sections/cantina-menu" . }}

        </div>

        <div class="region region-content">

            {{ partial "sections/pacmans" . }}

            {{ partial "sortiment/main" . }}

        </div>

        <div class="region region-bottom-content">

            {{ partial "sections/contact" . }}

            <!-- {{ partial "sections/delivery" . }} -->

        </div>

    </section>

</div>

{{ end }}
