@charset "UTF-8";
@font-face {
  font-family: "teuton";
  src: url("../fonts/TeutonFett.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aller";
  src: url("../fonts/Aller_Rg.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aller";
  src: url("../fonts/Aller_Bd.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  position: relative;
  background-image: url("../images/paper-texture-1-web.jpg");
}

@media screen and (min-width: @{screen-sm-min}) {
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: @{screen-md-min}) {
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: @{screen-lg-min}) {
  .navbar.container {
    max-width: 1140px;
  }
}

.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}


@media screen and (min-width: @{screen-sm-min}) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}

ul.secondary {
  float: left;
}
@media screen and (min-width: @{screen-sm-min}) {
  ul.secondary {
    float: right;
  }
}

.page-header {
  margin-top: 0;
}

.block:first-child h2.block-title {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

h2.block-title {
  text-align: center;
  color: #781e1d;
  font-weight: bolder;
}

#header-entities {
  position: relative;
}

#imageslider-wrapper {
  width: 100%;
  height: 700px;
  margin: 0 auto;
}
#imageslider-wrapper #imageslider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#imageslider-wrapper #imageslider .region-imageslider {
  width: 100%;
  position: relative;
  height: 700px;
  overflow: hidden;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 {
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 .flexslider {
  position: absolute;
  width: 1920px;
  height: 700px;
  border: 0;
  display: inline-block;
  text-align: center;
  left: 50%;
  margin-left: -960px;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 .flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 50;
  margin: 0 auto;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 .flexslider .flex-control-nav a {
  width: 15px;
  height: 15px;
  background: transparent url(../images/counter-dot.png) no-repeat -15px center;
  box-shadow: none;
  border-radius: 0;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 .flexslider .flex-control-nav a.flex-active {
  background: transparent url(../images/counter-dot.png) no-repeat 0 center;
}
#imageslider-wrapper #imageslider .region-imageslider #block-views-header-slideshow-block-1 .flexslider .flex-control-nav a:hover {
  background: transparent url(../images/counter-dot.png) no-repeat 0 center;
}
#imageslider-wrapper #imageslider #cantina-logo-wrapper {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
#imageslider-wrapper #imageslider #cantina-logo-wrapper #cantina-logo {
  width: 428px;
  position: relative;
  top: 140px;
  z-index: 100;
}
#imageslider-wrapper #imageslider #cantina-logo-wrapper #go-down-arrow {
  width: 128px;
  position: relative;
  top: 180px;
  z-index: 100;
}

#navigation-wrapper {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}
#navigation-wrapper #navigation-centered {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
#navigation-wrapper #navigation-centered a.facebook {
  position: absolute;
  right: 100px;
  color: #eee;
  font-size: 18px;
}
#navigation-wrapper #navigation-centered a.facebook:hover {
  color: #d5d5d5;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu {
  position: absolute;
  top: 5px;
  right: 160px;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul {
  background-color: transparent;
  font-size: 18px;
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul li {
  display: inline;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul li a {
  display: inline;
  color: #eee;
  text-decoration: none;
  padding: 10px 15px;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul li a:hover {
  display: inline;
  color: #d5d5d5;
  background-color: transparent;
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul li:nth-child(2) ::before {
  content: "— ";
}
#navigation-wrapper #navigation-centered .region-navigation #block-system-main-menu ul li:nth-child(2) ::after {
  content: " —";
}

@media (max-width: 1199px) {
  #block-views-gallery-block,
#block-views-gallery-block-1 {
    display: none;
  }
}
@media (max-width: 860px) {
  #navigation-centered {
    margin-top: 5px !important;
  }
  #navigation-centered a.facebook {
    right: 40px !important;
    top: 70px !important;
  }
  #navigation-centered #block-system-main-menu {
    top: 20px !important;
    right: 20px !important;
  }
}
@media (max-width: 720px) {
  #navigation-centered a.facebook {
    left: 40px !important;
    top: 40px !important;
  }
  #navigation-centered #block-system-main-menu ul {
    text-align: right !important;
  }
  #navigation-centered #block-system-main-menu ul li {
    display: block !important;
  }
  #navigation-centered #block-system-main-menu ul li:nth-child(2) ::before {
    content: "" !important;
  }
  #navigation-centered #block-system-main-menu ul li:nth-child(2) ::after {
    content: "" !important;
  }
}
@media (max-width: 450px) {
  #imageslider-wrapper #imageslider #cantina-logo-wrapper #cantina-logo {
    top: 200px !important;
    width: 320px !important;
    height: auto !important;
  }
}
body.front {
  font-family: aller, "Open Sans", arial;
  margin: 0;
}
body.front a {
  color: #781e1d;
}
body.front a:hover {
  color: #631918;
}

h2 {
  margin-top: 60px;
  margin-bottom: 40px;
}

h2.block-title {
  font-family: teuton, "Open Sans", arial;
  font-size: 28px;
  letter-spacing: 0.1em;
}
h2.block-title .bubble-title-char, h2.block-title .bubble-title-char-empty {
  display: inline-block;
  width: 37px;
  height: 37px;
  padding-left: 1px;
  padding-top: 2px;
}
h2.block-title .bubble-title-char {
  color: #cf9b6e;
  border-radius: 50%;
  border-color: #781e1d;
  background-color: #781e1d;
}

h3 {
  margin-top: 60px;
  font-family: teuton, "Open Sans", arial;
  color: #781e1d;
}

#block-views-gallery-big,
#block-views-gallery-small {
  display: none;
}

.view-gallery .views-row {
  float: left;
}

@media (min-width: 1200px) {
  #block-views-gallery-big {
    display: inline;
    float: left;
  }

  #block-views-gallery-small {
    display: inline;
  }
  #block-views-gallery-small div {
    display: inline;
  }
}
.is-sticky #block-menu-menu-pizza-menu {
  background-color: #cf9b6e;
}

#block-menu-menu-pizza-menu {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 100;
}
#block-menu-menu-pizza-menu ul {
  padding: 0;
  display: block;
}
#block-menu-menu-pizza-menu li, #block-menu-menu-pizza-menu li a {
  color: #781e1d;
  white-space: pre;
  display: inline;
  line-height: 2em;
  text-decoration: none;
  padding: 10px 15px;
}
#block-menu-menu-pizza-menu li :hover, #block-menu-menu-pizza-menu li a :hover {
  color: #fff;
  background-color: #781e1d;
}

#sticky-navigation {
  z-index: 100;
}

.region-cantina-menu {
  border: 25px solid transparent;
  border-image: url("../images/cm-border.png");
  border-image-slice: 25;
  margin-top: 25px;
}
.region-cantina-menu .block:first-child h2.block-title {
  margin-top: 0;
}

.block:first-child h2.block-title {
  margin-top: 40px;
}

.block-block p {
  margin: 0 65px 10px 10%;
  width: 90%;
  display: block;
}

.block-nodeblock p {
  line-height: 2;
}

#pacmans {
  margin-top: 4rem;
}
#pacmans li {
  display: inline-block;
  margin-right: 3em;
  height: 21px;
}
#pacmans li .icon, #pacmans li .legend {
  display: inline-block;
  height: 21px;
}
#pacmans li .icon {
  width: 20px;
  margin-right: 0.75em;
}
#pacmans li .legend {
  vertical-align: top;
}
#pacmans li:nth-child(1) .icon {
  background-image: url("../images/pacman-novinka.png");
}
#pacmans li:nth-child(2) .icon {
  background-image: url("../images/pacman-vegetarianska.png");
}
#pacmans li:nth-child(3) .icon {
  background-image: url("../images/pacman-veganska.png");
}

#pizza h2.block-title {
  margin-top: 1rem;
}

.view-pizza ul {
  list-style-type: none;
  display: table;
  width: 100%;
}
.view-pizza ul li {
  display: table-row;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 0 auto;
  padding: 0 8px;
}
.view-pizza .field-number,
.view-pizza .field-main-column,
.view-pizza .field-price,
.view-pizza .field-volume {
  padding: 4px;
}
.view-pizza .field-number,
.view-pizza .field-title,
.view-pizza .field-price,
.view-pizza .field-volume {
  font-weight: bold;
}
.view-pizza .field-number,
.view-pizza .field-main-column,
.view-pizza .field-volume,
.view-pizza .field-price {
  display: table-cell;
}
.view-pizza .field-number {
  text-align: right;
}
.view-pizza .field-price {
  min-width: 70px;
  max-width: 70px;
  text-align: right;
}
.view-pizza .field-body {
  padding-top: 5px;
}
.view-pizza .pacman-icon {
  display: inline-block;
  width: 20px;
  height: 21px;
}
.view-pizza .pacman-icon.novinka {
  background-image: url("../images/pacman-novinka.png");
}
.view-pizza .pacman-icon.vegetarianska-pizza {
  background-image: url("../images/pacman-vegetarianska.png");
}
.view-pizza .pacman-icon.veganska-pizza {
  background-image: url("../images/pacman-veganska.png");
}
.view-pizza .first-line {
  display: flex;
  flex-direction: row;
}
.view-pizza .first-line .field-title {
  display: inline-block;
  line-height: 21px;
  vertical-align: top;
}
.view-pizza .first-line .field-pacman {
  display: inline-block;
  height: 21px;
  margin-left: 10px;
  vertical-align: top;
}
.view-pizza .first-line .field-pacman .field-content {
  height: 21px;
}
.view-pizza .first-line .padding {
  display: inline-block;
  border-bottom: dotted 3px black;
  margin-left: 10px;
  flex-grow: 1;
}

/* .view-pizza .item-list ul {
  padding-left: 0;
} */

.block-nodeblock {
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.region-left-content,
.region-right-content {
  padding: 15px 0 15px 0;
}

.views-field-field-price {
  white-space: nowrap;
}

.region-bottom-content {
  margin-bottom: 20px;
  clear: both;
}
.region-bottom-content section:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

#kontakt.block {
  width: 100%;
}
#kontakt.block table.contact-split {
  width: 100%;
}
#kontakt.block table.contact-split td:nth-child(2) {
  width: 40%;
}
#kontakt.block table.contact-split td:nth-child(1) {
  text-align: center;
  width: 30%;
  padding-left: 10%;
}
#kontakt.block table.contact-split td:nth-child(3) {
  text-align: center;
  width: 30%;
  padding-right: 10%;
}
#kontakt.block #nice-google-map-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 250px;
  position: relative;
}
#kontakt.block #nice-google-map-wrapper #nice-google-map {
  width: 100%;
  height: 250px;
  background-image: url("../images/mapa.png");
  background-position: center center;
}

@media (max-width: 730px) {
  #block-menu-menu-pizza-menu li a {
    padding: 10px 10px;
  }

  #kontakt.block table.contact-split td:nth-child(1),
#kontakt.block table.contact-split td:nth-child(3) {
    width: 45% !important;
  }
  #kontakt.block table.contact-split td:nth-child(2) {
    width: 10% !important;
  }
}
@media (max-width: 430px) {
  #kontakt.block table.contact-split td:nth-child(1) {
    padding-left: 0 !important;
  }
  #kontakt.block table.contact-split td:nth-child(3) {
    padding-right: 0 !important;
  }
  #kontakt.block table.contact-split td:nth-child(2) {
    width: 0 !important;
  }
}

.view-alergens h3 {
  text-align: left;
  font-size: 30px;
  margin-left: 2rem;
}
.view-alergens ul {
  margin-bottom: 20px;
}
.view-alergens ul li {
  list-style: none;
  color: #781e1d;
}
.view-alergens ul li .views-field-field-number {
  float: left;
  width: 30px;
}
.view-alergens ul li .views-field-field-alergens ul li {
  color: #424243;
}

.foodtruck .view-id-gallery .view-content {
  text-align: center;
  margin-top: 50px;
}

.foodtruck .view-content .views-row {
  display: inline-block;
  float: none;
}

.footer {
  background-color: #817e78;
  color: white;
  line-height: 2;
  position: relative;
}
.footer .block-nodeblock {
  width: auto;
}
.footer .cantina-info,
.footer .cantina-copyright {
  text-align: center;
  width: 50%;
}

@media (max-width: 450px) {
  .footer .cantina-info {
    width: 100% !important;
  }
  .footer .cantina-copyright {
    width: 100% !important;
    margin-top: 40px !important;
  }
}

/*# sourceMappingURL=style.css.map */
