{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ partial "bubble-block" (dict "ctx" . "textCode" "foodtruck") }}

<section id="block-system-main" class="block block-system clearfix">

    <div class="view view-gallery view-id-gallery">

        <div class="view-content">
            {{ $foodtruckImages := resources.Match "images/foodtruck/*"}}
            {{ range $key, $image := sort $foodtruckImages ".Name" }}
            <div class="views-row">
                <div class="views-field views-field-field-picture">
                    {{ $image := $image.Fill "380x195 webp" }}
                    <img typeof="foaf:Image" class="img-responsive" src='{{ $image.Permalink }}' alt="" />
                </div>
            </div>
            {{ end }}

        </div>
</section>

{{ .Content }}

{{ end }}
