{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

{{ partial "bubble-block-frame" (dict "ctx" . "textCode" "content-allergens") }}

<section id="block-system-main" class="block block-system clearfix">

    <div class="view view-alergens view-id-alergens">

        <div class="view-content">

            {{ range $category := $.Site.Data.sortiment.categories }}
            {{ if and $category.enabled $category.showAllergens }}
            <div class="item-list">
                <h3>{{ $category.name }}</h3>
                <ul>
                    {{ range $item := $category.items }}
                    <li class="views-row">
                        <div class="views-field views-field-field-number">
                            <div class="field-content">{{ $item.number }}</div>
                        </div>
                        <div class="views-field views-field-title">
                            <span class="field-content">{{ $item.name }} </span>
                        </div>
                        <div class="views-field views-field-field-alergens">
                            <div class="field-content">
                                <ul>
                                    {{ range $allergen := $.Site.Data.allergens.allergens }}
                                        {{ if in $item.allergens $allergen.code }}
                                        <li>{{ $allergen.name }}</li>
                                        {{ end }}
                                    {{ end }}

                                </ul>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ .Content }}

{{ end }}