
<section id="block-nodeblock-33" class="block block-nodeblock clearfix">
    
    {{ partial "bubble-title" (index .Site.Data.texts "cantina-menu").title }}

    <div id="node-33" class="node node-text-piece clearfix" about="/node/33"
        typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="cantina menu" class="rdf-meta element-hidden"></span>

        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                        <p>{{ partial "text" (dict "ctx" . "code" "cantina-menu") }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>