
<section id="kontakt" class="block block-nodeblock clearfix">

    {{ partial "bubble-title" (index .Site.Data.texts "contact").title }}

    <div class="node node-text-piece clearfix" typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="kontakt" class="rdf-meta element-hidden"></span>

        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                        <div id="nice-google-map-wrapper">
                            <a href="https://www.google.cz/maps/place/Cantina+pizza/@48.8551274,16.0511943,18z/data=!4m2!3m1!1s0x0000000000000000:0x32618161e05f36c2"
                                target="_blank">
                                <div id="nice-google-map"></div>
                                <p></p>
                            </a>
                        </div>
                        <p><br /></p>
                        <table class="contact-split">
                            <tr>
                                <td>
                                    <p>{{ partial "text" (dict "ctx" . "code" "opening-hours") }}</p>
                                </td>
                                <td>
                                </td>
                                <td>
                                    {{ partial "text" (dict "ctx" . "code" "address") }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>

</section>