<section id="rozvoz" class="block block-nodeblock clearfix">

    {{ partial "bubble-title" (index .Site.Data.texts "delivery").title }}

    <div id="node-35" class="node node-text-piece clearfix" about="/node/35"
        typeof="sioc:Item foaf:Document">

        <span property="dc:title" content="rozvoz" class="rdf-meta element-hidden"></span>

        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                        <p>{{ partial "text" (dict "ctx" . "code" "delivery") }}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>