<section id="block-views-header-slideshow-block-1" class="block block-views clearfix">
    <div class="view view-header-slideshow view-id-header_slideshow view-display-id-block_1">
        <div class="view-content">
            <div class="skin-default">

                <div id="flexslider_views_slideshow_main_header_slideshow-block_1_1"
                     class="flexslider_views_slideshow_main views_slideshow_main">
                    <div class="flex-nav-container">
                        <div class="flexslider">
                            <ul id="flexslider_views_slideshow_header_slideshow-block_1_1"
                                class="flexslider-views-slideshow-main-frame slides">
                                {{ $slideshowImages := resources.Match "images/slideshow/*"}}
                                {{ range $key, $image := sort $slideshowImages ".Name" }}
                                <li class="flexslider-views-slideshow-main-frame-row flexslider_views_slideshow_slide">
                                    <div class="views-field views-field-field-picture">
                                        <div class="field-content">
                                            {{ $image := $image.Fill "1920x700 webp" | images.Filter (images.Grayscale) }}
                                            <img typeof="foaf:Image" class="img-responsive"
                                                 src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="" />      
                                        </div>
                                    </div>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
