<section id="pacmans" class="block block-block section-pacmans clearfix">
    <ul>
        <li><span class="icon"></span><span class="legend">novinka</span></li>
        <li><span class="icon"></span><span class="legend">vegetarián</span></li>
        <li><span class="icon"></span><span class="legend">vegan</span></li>
    </ul>
</section>