<h2 class="block-title">
{{ range split . "" }}
{{ if eq . " " }}
<span class="bubble-title-char-empty"></span>
{{ else }}
<span class="bubble-title-char">{{ . | safeHTML }}</span>
{{ end }}
{{ end }}
</h2>