{{ $ctx := .ctx }}
{{ $textCode := .textCode }}

<section class="block block-nodeblock clearfix">

    {{ partial "bubble-title" (index $ctx.Site.Data.texts $textCode).title }}

    <div class="node node-text-piece clearfix" typeof="sioc:Item foaf:Document">

        <span property="dc:title" class="rdf-meta element-hidden"></span>

        <div class="content">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                        <p>{{ partial "text" (dict "ctx" $ctx "code" $textCode) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
