<footer class="footer">
    <div class="container">
        <div class="col-xs-12 col-md-6 cantina-info">
            <div class="region region-footer">
                <section class="block block-nodeblock clearfix">

                    <div class="node node-text-piece clearfix" typeof="sioc:Item foaf:Document">

                        <span property="dc:title" content="Informace o provozu"
                            class="rdf-meta element-hidden"></span>

                        <div class="content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        <p>{{ partial "text" (dict "ctx" . "code" "footer") }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 cantina-copyright">
            <a href="index.php"><img src='{{ (resources.Get "images/cantina-pizza-copyright.png").Permalink }}'></a>
        </div>
    </div>
</footer>
