<div id="header-entities">
    <div id="imageslider-wrapper">
        <div id="imageslider">
            <div class="region region-imageslider">

                {{ partial "sections/header-slideshow" . }}

            </div>
            <div id="cantina-logo-wrapper">
                <a href="/">
                    <img id="cantina-logo" src='{{ (resources.Get "images/header-overlay.png").Permalink }}' />
                </a>
                <br>
                <img id="go-down-arrow" src='{{ (resources.Get "images/go-down.png").Permalink }}' />
            </div>
        </div>
    </div>

    <div id="navigation-wrapper">
        <div id="navigation-centered">
            <a class="facebook" href="{{ .Site.Params.facebookUrl }}"
                title="Cantina Pizza on Facebook">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <div class="region region-navigation">
                <section id="block-system-main-menu" class="block block-system navbar block-menu clearfix">
                    <ul class="menu nav">
                        {{ range .Site.Menus.main }}
                        <li class="leaf"><a href='{{ .URL }}' title="">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>