
{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/google_analytics.html" . }}

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />

{{ hugo.Generator }}
<link rel="shortcut icon"
      href='{{ "images/favicon.ico" | absURL }}'
      type="image/vnd.microsoft.icon" />

<title>{{ .Site.Title }}</title>
<style>
    @import url('{{ "/css/modules/system/system.base.css" | absURL }}');
    @import url('{{ "/css/sites/all/modules/flexslider/assets/css/flexslider_img.css" | absURL }}');
    @import url('{{ "/css/sites/all/libraries/flexslider/flexslider.css" | absURL }}');
    @import url('{{ "/css/sites/all/themes/cantina/css/bootstrap.min.css" | absURL }}');
    @import url('{{ "/css/sites/all/themes/cantina/css/style.css" | absURL }}');
</style>
<link type="text/css" rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Open+Sans&amp;amp;subset=latin,latin-ext&amp;r9r3be" media="all" />

<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
{{ $jqueryMinJs := "/js/sites/all/modules/jquery_update/replace/jquery/1.7/jquery.min.js" | absURL }}
<script>window.jQuery || document.write("<script src='{{ $jqueryMinJs }}'>\x3C/script>")</script>
<script src='{{ "/js/misc/jquery-extend-3.4.0.js" | absURL }}'></script>
<script src='{{ "/js/misc/jquery-html-prefilter-3.5.0-backport.js" | absURL }}'></script>
<script src='{{ "/js/misc/jquery.once.js" | absURL }}'></script>
<script src='{{ "/js/misc/drupal.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/modules/views_slideshow/js/views_slideshow.js" | absURL }}'></script>
<script src='{{ "/js/sites/default/files/languages/cs_9ozgVj305R_eu_PdRiBbdrKuyEvJqHeRYETZE9S7Chg.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/libraries/flexslider/jquery.flexslider-min.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/modules/flexslider_views_slideshow/js/flexslider_views_slideshow.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/themes/cantina/js/bootstrap.min.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/themes/cantina/js/jquery.sticky.js" | absURL }}'></script>
<script src='{{ "/js/sites/all/themes/cantina/js/strip-gallery.js" | absURL }}'></script>

<script>jQuery.extend(Drupal.settings, { "basePath": "\/", "pathPrefix": "", "setHasJsCookie": 0, "ajaxPageState": { "theme": "cantina", "theme_token": "1IxI-5a2wXpJOnAuTb2A33rQARUoBJrrN5TNS8-Ocg4", "js": { "": 1, "sites\/all\/themes\/bootstrap\/js\/bootstrap.js": 1, "\/\/code.jquery.com\/jquery-1.7.2.min.js": 1, "0": 1, "misc\/jquery-extend-3.4.0.js": 1, "misc\/jquery-html-prefilter-3.5.0-backport.js": 1, "misc\/jquery.once.js": 1, "misc\/drupal.js": 1, "sites\/all\/modules\/views_slideshow\/js\/views_slideshow.js": 1, "https:\/\/cdn.jsdelivr.net\/npm\/bootstrap@3.0.2\/dist\/js\/bootstrap.js": 1, "public:\/\/languages\/cs_9ozgVj305R_eu_PdRiBbdrKuyEvJqHeRYETZE9S7Chg.js": 1, "sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js": 1, "sites\/all\/modules\/flexslider_views_slideshow\/js\/flexslider_views_slideshow.js": 1, "sites\/all\/modules\/google_analytics\/googleanalytics.js": 1, "1": 1, "sites\/all\/themes\/cantina\/js\/bootstrap.min.js": 1, "sites\/all\/themes\/cantina\/js\/jquery.sticky.js": 1, "sites\/all\/themes\/cantina\/js\/strip-gallery.js": 1 }, "css": { "modules\/system\/system.base.css": 1, "sites\/all\/modules\/views_slideshow\/views_slideshow.css": 1, "modules\/field\/theme\/field.css": 1, "sites\/all\/modules\/views\/css\/views.css": 1, "sites\/all\/modules\/ctools\/css\/ctools.css": 1, "sites\/all\/modules\/flexslider\/assets\/css\/flexslider_img.css": 1, "sites\/all\/libraries\/flexslider\/flexslider.css": 1, "https:\/\/cdn.jsdelivr.net\/npm\/bootstrap@3.0.2\/dist\/css\/bootstrap.css": 1, "sites\/all\/themes\/cantina\/css\/bootstrap.min.css": 1, "sites\/all\/themes\/cantina\/css\/style.css": 1, "http:\/\/fonts.googleapis.com\/css?family=Open+Sans\u0026amp;subset=latin,latin-ext": 1 } }, "viewsSlideshow": { "header_slideshow-block_1_1": { "methods": { "goToSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "viewsSlideshowCycle"], "nextSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "flexsliderViewsSlideshow", "viewsSlideshowCycle"], "pause": ["viewsSlideshowControls", "flexsliderViewsSlideshow", "viewsSlideshowCycle"], "play": ["viewsSlideshowControls", "flexsliderViewsSlideshow", "viewsSlideshowCycle"], "previousSlide": ["viewsSlideshowPager", "viewsSlideshowSlideCounter", "flexsliderViewsSlideshow", "viewsSlideshowCycle"], "transitionBegin": ["viewsSlideshowPager", "viewsSlideshowSlideCounter"], "transitionEnd": [] }, "paused": 0 } }, "flexslider_views_slideshow": { "#flexslider_views_slideshow_main_header_slideshow-block_1_1": { "num_divs": 9, "id_prefix": "#flexslider_views_slideshow_main_", "vss_id": "header_slideshow-block_1_1", "namespace": "flex-", "selector": ".slides \u003E li", "easing": "swing", "direction": "horizontal", "reverse": false, "smoothHeight": false, "startAt": 0, "animationSpeed": 600, "initDelay": 0, "useCSS": true, "touch": true, "video": false, "keyboard": true, "multipleKeyboard": false, "mousewheel": 0, "controlsContainer": ".flex-control-nav-container", "sync": "", "asNavFor": "", "itemWidth": 0, "itemMargin": 0, "minItems": 0, "maxItems": 0, "move": 0, "animation": "fade", "slideshow": true, "slideshowSpeed": 5000, "directionNav": false, "controlNav": true, "prevText": "Previous", "nextText": "N\u00e1sleduj\u00edc\u00ed", "pausePlay": false, "pauseText": "Pause", "playText": "Play", "randomize": false, "thumbCaptions": false, "thumbCaptionsBoth": false, "animationLoop": true, "pauseOnAction": true, "pauseOnHover": false, "manualControls": "" } }, "googleanalytics": { "trackOutbound": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip" }, "bootstrap": { "anchorsFix": 1, "anchorsSmoothScrolling": 1, "formHasError": 1, "popoverEnabled": 1, "popoverOptions": { "animation": 1, "html": 0, "placement": "right", "selector": "", "trigger": "click", "triggerAutoclose": 1, "title": "", "content": "", "delay": 0, "container": "body" }, "tooltipEnabled": 1, "tooltipOptions": { "animation": 1, "html": 0, "placement": "auto left", "selector": "", "trigger": "hover focus", "delay": 0, "container": "body" } } });</script>
