{{ $context := .context }}
{{ $category := .category }}
<section id="{{ $category.section }}" class="block block-views section-{{ $category.section }} clearfix">

   {{ partial "bubble-title" $category.name }}

    <div class="view view-pizza view-id-{{ $category.section }}">

        <div class="view-content">
            <div class="item-list">
                <ul>
                    {{ range $key, $item := $category.items }}
                    {{ partial "sortiment/item" (dict "context" $context "item" $item) }}
                    {{ end }}
                </ul>
            </div>
        </div>

    </div>
</section>
