{{ $context := .context }}
{{ $item := .item }}

<li class="views-row views-row-{{ $item.number }}">

    <div class="field-number">{{ $item.number | safeHTML }}</div>
    <div class="field-main-column">
        <div class="first-line">
            <div class="field-title">{{ $item.name | safeHTML }}</div>
            {{ if $item.labels }}
            <div class="field-pacman">
                <div class="field-content">
                    {{ range $key, $pacmanCode := $context.Site.Params.pacmans }}
                    {{ if (in $item.labels $pacmanCode) }}
                    <div class="pacman-icon {{ $pacmanCode }}"></div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
            <div class="padding"></div>
        </div>
        <div class="field-body"><span class="field-content body-txt">{{ $item.description | safeHTML }}</span></div>
    </div>
    <div class="field-price">{{ $item.price }}&nbsp;Kč</div>
</li>